<h1>Angular Demo</h1>

<div ng-controller="DemoCtrl">

	<form ng-submit="addAccount()">
		<input type="text" ng-model="newAccount.name">
		<input type="submit" value="Add">
	</form>

	<ul>
		<li ng-repeat="account in accounts">
			{{account.Name}}
		</li>
	</ul>

</div>