<h1>Angular Demo with Salesforce.com</h1>

<span class="lead" style="padding-bottom:10px">By Jeff Douglas (<a href="http://www.twitter.com/jeffdonthemic" target="_blank">@jeffdonthemic</a>). You can find the accompanying blog post at <a href="http://blog.jeffdouglas.com" target="_blank">blog.jeffdouglas.com</a>.</span>

<div ng-controller="AccountListCtrl">

  <h2>Create a New Account</h2>
  <form name="foo" ng-submit="add()">
    <input type="text" class="input-xlarge" ng-model="newAccount.name" required><br/>
    <button type="Submit" class="btn btn-primary">Add Account</button>
  </form><br/>

  <h2>Last 5 Modified Accounts</h2>

  <table class="table table-striped">
  <thead>
    <tr>
      <th>Account Name</th>
      <th>Type</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="account in accounts" ng-click="displayAcount(account)">
      <td><a href="#/accounts/{{account.Id}}">{{account.Name}}</a></td>
      <td>{{account.Type}}</td>
      <td>{{account.BillingState}}</td>
    </tr>
  </tbody>
  </table>

</div>